@model IEnumerable<MyBookLibrary.Models.Publisher>

@{
    ViewBag.Title = "Index";
}

<h2>Publisher Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublisherID)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublisherID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PublisherID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PublisherID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PublisherID })
        </td>
    </tr>
}

</table>
